{{roomsForm.pristine | json}}
{{roomsForm.dirty | json}}

<div *ngIf="successMessage !== ''">{{successMessage}}</div>

<form #roomsForm="ngForm" (ngSubmit)="addRoom(roomsForm)">
  <div class="form-group">
    <input
    required
      type="text"
      name="roomType"
      placeholder="Room Type"
      [(ngModel)]="rooms.roomType"
    />
  </div>
  <div>
    <input
    required
      #roomAmenities="ngModel"
      minlength="5"
      maxlength="20"
      type="text"
      name="amenities"
      placeholder="Amenities"
      [(ngModel)]="rooms.amenities"
    />
    <div *ngIf="roomAmenities.errors?.['minlength']"> 
      Amenities should be min 5 characters.
    </div>
    <div *ngIf="roomAmenities.dirty && roomAmenities.errors?.['required']"> 
      Please provide room amenities
    </div>
  </div>
  <div>
    <input
    required
      type="number"
      name="price"
      placeholder="Room Price"
      [(ngModel)]="rooms.price"
    />
  </div>
  <div>
    <input
    required
      type="datetime"
      name="checkInTime"
      placeholder="check In Time"
      [(ngModel)]="rooms.checkInTime"
    />
  </div>
  <div>
    <input
    required
      type="datetime"
      name="checkOutTime"
      placeholder="check Out Time"
      [(ngModel)]="rooms.checkOutTime"
    />
  </div>
  <div>
    <input
    required
      type="number"
      name="rating"
      placeholder="Rating"
      [(ngModel)]="rooms.rating"
    />
  </div>
  <div>
    <button [disabled]="roomsForm.invalid">Submit</button>
  </div>
</form>
