<form>
  <div>
    <input
      #emailControl="ngModel"
      appEmailvalidator
      appHover="green"
      [(ngModel)]="email"
      type="email"
      name="email"
      placeholder="Please provide your email"
    />
    <div *ngIf="emailControl.errors !== null">
      {{ emailControl.errors | json }}
    </div>
  </div>
  <div>
    <input
      appHover="steelblue"
      [(ngModel)]="password"
      type="password"
      name="password"
      placeholder="Please provide your password"
    />
  </div>
  <div>
    <button type="submit" (click)="login()">login</button>
  </div>
</form>
